/* Main color */

h2, a:hover, .icon:hover
{
	color: #50A3EB;
}

.navbar-toggle
{
	background: #50A3EB;
}

.navbar-toggle:focus
{
	background: #50A3EB;
}

.action-btn, .icon
{
	background: #50A3EB;
}

.menu .nav>li>a:hover
{
	border-bottom: solid #50A3EB 3px;
}

.menu .nav>li.active>a
{
	border-bottom: solid #50A3EB 3px;
}

.current-li
{
	border-bottom: solid #50A3EB 3px;
}

.icon:hover
{
	border: solid #50A3EB 1px;
}

/* Secondary color */

.action-btn
{
	box-shadow: inset 0 -3px 0 #1673C3;
}

.action-btn:hover
{
	background: #1673C3;
}

.action-btn:active
{
	background: #1673C3;
}